<div class="container">
    <div class="row">
        <div class="col-sm-5 mx-auto add-card card text-center">
            <div class="card-body">
                <h5 class="card-title">Add Repos</h5>
                <p class="card-text">We will pull your personal GitHub repos for you to choose from. Whatever you choose
                    will be included in the GitWorkd feed. Click the connect button to begin.</p>
                <button class="btn add-btn btn-light">Connect <i class="fas fa-bolt"></i> </button>

                <div class="loader">
                    <img class="loader-image" src="/assets/img/35.gif">
                </div>
            </div>
        </div>
    </div>
</div>