<div class="container">
    <div class="row">
        <div class="col-sm-5 mx-auto add-card card text-center">
            <div class="card-body">
                <h5 class="card-title">Saved Repos</h5>
                <p class="card-text">Here is your stash of saved repositories.</p>
                <button class="btn add-btn btn-light">Remove <i class="fas fa-bolt"></i> </button>

                <div class="loader">
                    <img class="loader-image" src="/assets/img/35.gif">
                </div>
            </div>
        </div>
    </div>
</div>