<div class="container">
        <div class="row">
            <div class=" offset-sm-2 col-sm-8">
                <div class="jumbotron jumbotron-fluid text-center">
                    <div class="container">
                      <h1 class="display-4">Welcome to <span class="logo">GitWorkd</span></h1>
                      <p class="lead">Connecting you to open source projects around the globe</p>
                      <a class = "connect-btn"href="{{link}}">Connect To GitHub</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>