.jumbotron{
    margin-top: 4rem;
    background:none;
    border-radius: 1rem;
}

.add-jumbo{
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding: 20px;
    border: 1px solid white;
    
}

.logo{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 4rem;
   
}

body{
    background: url("../img/ponder.jpg") no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: 'Big Shoulders Inline Text', cursive;
    
}

.github{
    font-size: 25px;
    margin-left: 5px;
}

.instr{
    color:grey;
}


p{
    color: rgb(19, 14, 14);
    font-weight: bolder !important;
    font-size: 1rem !important;
}

.connect-btn{
    font-weight: bold;
    background-color: #000000;
    padding: 10px;
    color: rgb(196, 184, 184);
    border-radius: 6px;
    display: inline-block;
    margin-top: 1rem;
    width: 30%;
    transition: .2s ease-in;
    

}

.connect-btn:hover{
    text-decoration: none;
    color: rgb(214, 197, 197);
    transform: scale(1.1);
    background-color: rgb(51, 49, 48);
}


.bg-dark{
    background-color: rgb(0, 0, 0) !important;
}

a{
    color: white !important;
}

a:hover{
    color: grey !important;
}

.main-nav{
    font-family: 'Permanent Marker', cursive;
    color: white !important;
}


.loader{
    display:none; 
    margin: 2rem auto;
    background-color: rgb(0, 0, 0);

}

.loader-image{
    background-color: rgb(0, 0, 0);
    width: 40px;
}

.add-card{
    color: rgb(158, 153, 153);
    margin-top: 12rem;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(228, 215, 215);
}

.repo-card{
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.959);
    color: grey;
    border: 1px solid white;
    /* border-radius: 1rem; */
}

h5{
    color: white;
}



.add-btn{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

.card-title{
    color: white;
}

